/*achtergrond*/
body {
    background-color: grey;
    margin: 0;
    padding: 0;
    font-family: 'Press Start 2P', cursive;
    transition: all 1s;
}

main {
    font-size: 200px;
    color: white;
    position: absolute;
    bottom: 100px;
    right: 100px;
}

#navmenu {
    max-width: 50px;
}

#menu {
    width: 50px;
    transition: all 0.5s;
    filter: invert(100%);
}

#menu:hover {
    transform: rotate(180deg);
    cursor: pointer;
}

.menu-closed {
    color: green;
    margin-left: -25px;
    width: 0px;
    padding: 0px;
    transition: all 0.3s;
    background-color: yellow;
}

.menu-open {
    color: red;
    padding: 0px;
    margin-left: 120px;
    transition: all 0.3s;
}

li {
    list-style-type: none;
    background-color: yellow;
    border: 2px solid black;
    overflow: hidden;
    padding: 10px;
    margin-left: -120px;
    width: 100px;
    transition: all 0.2s linear;
}

li:hover {
    cursor: pointer; 
}

@media only screen and (max-width: 500px) {
    main {
        font-size: 50px;
        color: white;
        position: absolute;
        bottom: 30px;
        right: 30px;
    }
}

@media only screen and (max-width: 800px) {
    main {
        font-size: 100px;
        color: white;
        position: absolute;
        bottom: 80px;
        right: 80px;
    }
}
