/*opmaak uitklapmenu*/
body {
    margin: 0;
    padding: 0;
    transition: all 0.5s;
}

nav {
     width: 50px;
}

#menu {
    width: 50px;
    transition: all 0.5s;
}

#menu:hover {
    transform: rotate(180deg);
}

.fade {
    display: none;
}

ul {
    list-style-type: none;
    padding: 0;
}

/* opmaak elementen uitklapmenu */
li {
    margin: -1px;
    padding: 10px;
    border: solid 2px black;
    width: 120px;
    overflow: hidden;
    transition: all 0.5s;
    text-align: end;
}

li:hover {
    width: 150px;
}

/* achtergrondkleuren */
.orange {
    background-color: orange;
}

.blue {
    background-color: blue;
}

.yellow {
    background-color: yellow;
}

.green {
    background-color: green;
}

/*opmaak inhoud lijstelementen*/

li {
    color: white;
    text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
    font-family: 'Press Start 2P', cursive, 'Times New Roman', Arial, Helvetica, sans-serif;
    font-size: 20px;
}

#orange {
    background-color: orange;
}

#orange:hover {
    color: orange;
    background-color: white;
}

#blue {
    background-color: blue;
}

#blue:hover {
    color: blue;
    background-color: white;
}

#yellow {
    background-color: yellow;
}

#yellow:hover {
    color: yellow;
    background-color: white;
}

#green {
    background-color: green;
}

#green:hover {
    color: green;
    background-color: white;
}